alabaster==0.7.12
altgraph==0.16.1
apipkg==1.5
appdirs==1.4.3
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
bleach==3.1.0
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
docutils==0.14
execnet==1.6.0
future==0.17.1
idna==2.8
imagesize==1.1.0
import-file==1.11
isort==4.3.20
Jinja2==2.10.1
keyboard==0.13.3
lazy-object-proxy==1.4.1
macholib==1.11
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.0.0
mouse==0.7.0
numpy==1.16.3
packaging==19.0
pathlib2==2.3.3
pefile==2019.4.18
Pillow==8.2.0
pkginfo==1.5.0.1
pluggy==0.11.0
py==1.8.0
Pygments==2.4.0
PyHook3==1.6.1
PyInstaller==3.4
pylint==2.3.1
pyparsing==2.4.0
pytest==4.5.0
pytest-forked==1.0.2
pytest-timeout==1.3.3
pytest-xdist==1.28.0
pytz==2019.1
pywin32==224
pywin32-ctypes==0.2.0
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
snowballstemmer==1.2.1
sortedcontainers==2.1.0
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tqdm==4.32.1
twine==1.13.0
typed-ast==1.4.0
urllib3==1.25.2
wcwidth==0.1.7
webencodings==0.5.1
winshell==0.6
wrapt==1.11.1
wxPython==4.0.5
